html {
  background-image: url("img/papertexture.jpg");
  background-repeat: repeat;
  background-size: 600px 600px;
  height: 100vh;
  padding: 0px;
  font-family:'Times New Roman', Times, serif;
}

#newspaper {
  margin-top: -15px;
  width: 100%;
  height: 100vh;
  margin-bottom: 0px;
  background-image: url("img/papertexture.jpg");
  background-repeat: repeat;
  background-size: 600px 600px;
}

#header {
width: 90%;
height: auto;
margin-left: auto;
margin-right: auto;
border-bottom: 4px solid black;
font-family:'Times New Roman', Times, serif;
}

#header h1 {
text-align: center;
font-size: 4em;
display: block;
font-family:'Times New Roman', Times, serif;
}

#header p {
text-align: center;
width: 100%;
font-size: 2em;
display: block;
}

#interactive {
  width: 90%;
  height: 100px;
  padding-top: 10px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 4px solid black;
}

#content-wrapper {
width: 90%;
margin-left: auto;
margin-right: auto;
margin-top: 20px;
height: 100%;
}

#left {
box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
width: 50%;
float: left;
border-right: 2px solid black;
text-align: center;
height: 100%;
}

#right {
box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
width: 50%;
float: left;
border-left: 2px solid black;
height: 100%;
}

#graph {
margin-left: auto;
margin-right: auto;
max-width: 600px;
}

#map  .tempcenter {
text-align: center;
position: relative;
top: 0;
left: 0;
width: 80%;
max-width: 250px;
margin-left: auto;
margin-right: auto;
text-align: center;
z-index: 1;
}

#map_top_checkbox {
  text-align: center;
}

#articleview {
height: 350px;
width: 95%;
margin-left: auto;
margin-right: auto;
overflow: hidden;
overflow-y: scroll;
}

#funnytexts {
text-align: center;
}

#tagcloud {
text-align: center;
width: 90%;
max-width: 300px;
margin-left: auto;
margin-right: auto;
}

#dropdown {
height: auto;
padding-top: 29px;
width: 55%;
float: left;
}

#slider {
  height: auto;
  width: 40%;
  float: left;
}
  

.time-slider-container {
margin: 20px;
text-align: center;
}
.slider.slider-horizontal {
width: 100%;
}

.slider-tick-container {
display: none !important;
}

.slider-tick-label-container .slider-tick-label :first-child {
padding-left: 50px;
}
.slider-tick-label-container .slider-tick-label:last-child {
padding-right: 50px;
}

.slider-track-total {
background-color: #4A89DC;
opacity: 0.3;
}
.slider.slider-horizontal {
width: 90% !important;
height: 20px;
}

.map {
max-width:100%;
margin-left:auto;
margin-right:auto;
}


.background {

fill:rgb(230, 225, 225);
stroke: black;
stroke-width: 3.5px;
pointer-events: all;
}

#states {
fill: #ffefa5;
stroke: grey;
stroke-width: 1.25px;
opacity: 0.85;
}

#states .active {
/*fill: lightblue;*/
fill: rgb(44, 47, 206);
}

.graticuleLine {
fill: rgb(182, 17, 39);
stroke:white;
stroke-width: 0.5px;
}
#vis{
padding-top: 10px;
height: 120px;
float: left;
}


#popupLegend {
  width: 400px;
  padding: 20px;
  font-family: Arial, sans-serif;
  font-size: 10pt;
  background-color: white;
  border-radius: 6px;
  position: absolute;
  display: none;
}

#popupLegend::before {
  content: "";
  width: 12px;
  height: 12px;
  transform: rotate(45deg);
  background-color: white;
  position: absolute;
  right: -6px;
  top: 28px;
}

#popupPercentages {
  
  padding: 20px;
  font-family: Arial, sans-serif;
  font-size: 10pt;
  background-color: white;
  border-radius: 6px;
  position: absolute;
  display: none;
}

#popupPercentages::before {
  content: "";
  width: 12px;
  height: 12px;
  transform: rotate(45deg);
  background-color: white;
  position: absolute;
  left: 28px;
  top: -6px;
}

#popupWindows {
  width: 250px;
  padding: 20px;
  font-family: Arial, sans-serif;
  font-size: 10pt;
  background-color: white;
  border-radius: 6px;
  position: absolute;
  display: none;
}

/*#popupWindows::before {
  content: "";
  width: 12px;
  height: 12px;
  transform: rotate(45deg);
  background-color: white;
  position: absolute;
  left: -6px;
  top: 20px;
}*/


#colorLetters h3{
  -webkit-text-stroke: 10px #531A16;
}


.ticks {
font-size: 8px;
margin-top: 5px;
}

.track,
.track-inset,
.track-overlay {
stroke-linecap: round;
margin-top: 5px;
}

.track {
stroke: #000;
stroke-opacity: 0.3;
stroke-width: 0px;
}

.track-inset {
stroke: #dcdcdc;
stroke-width: 8px;
}

.track-overlay {
pointer-events: stroke;
stroke-width: 60px;
stroke: transparent;
cursor: crosshair;
}

.handle {
fill: #fff;
stroke: #000;
stroke-opacity: 0.5;
stroke-width: 1.25px;
}

@media all and (max-width: 1233px) { 

#interactive {
  width: 90%;
  height: 200px;
  padding-top: 10px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 4px solid black;
}

#dropdown {
  height: auto;
  width: 100%;
  float: left;
}

}
